(
  resources: {
    "core_sim::resources::ActiveCivTurn": (
      current_civ_index: 0,
      civs_per_turn: [],
      turn_phase: Planning,
    ),
    "core_sim::resources::CurrentTurn": (1),
    "core_sim::resources::WorldMap": (
      width: 50,
      height: 25,
    ),
  },
  entities: {},
)